{% extends "base.html" %}

{% block title %}
	<title>categories - {{ config.title }}</title>
{% endblock title %}

{% block meta %}
	<meta name="description" content="{{ config.description }}">
	<meta property="og:title" content="categories - {{ config.title }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ config.extra.paralax.logo }}">
	<meta property="og:url" content="{{ current_url }}">
	<meta property="og:description" content="{{ config.description }}">
	<meta property="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block main %}
	{% for category in categories %}
		<header class="PostHeader">
			<h1 class="PostHeader__title"><a href="/categories/{{ category.slug }}">{{ category.name }}</a></h1>
			<p class="PostHeader__info">
				{{ category.pages | length }} post{{ category.pages | length | pluralize }}
			</p>
		</header>
	{% endfor %}
{% endblock main %}

