{% extends "index.html" %}

{% block title %}
	<title>{{ category.name }} - {{ config.title }}</title>
{% endblock title %}

{% block meta %}
	<meta name="description" content="{{ config.description }}">
	<meta property="og:title" content="{{ category.name }} - {{ config.title }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ config.extra.materialize.logo }}">
	<meta property="og:url" content="{{ current_url }}">
	<meta property="og:description" content="{{ config.description }}">
	<meta property="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block main %}
	{% for page in category.pages %}
		{{ macros::post_header(page=page) }}
	{% endfor %}
{% endblock main %}

