{% extends "index.html" %}

{% block title %}
	<title>categories - {{ config.title }}</title>
{% endblock title %}

{% block meta %}
	<meta name="description" content="{{ config.description }}">
	<meta property="og:title" content="categories - {{ config.title }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ config.extra.materialize.logo }}">
	<meta property="og:url" content="{{ current_url }}">
	<meta property="og:description" content="{{ config.description }}">
	<meta property="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block main %}
	<h1>Categories</h1>
	<h2>&nbsp;</h2>
	<ul class="collection">
		{% for category in categories %}
			<li class="collection-item">
				Category: <a class="chip {{ config.extra.materialize.colorscheme.font.one}}-text {{ config.extra.materialize.colorscheme.background.two }}" href="{{ category.permalink }}">{{ category.name }}</a>
				<p>
					{{ category.pages | length }} post{{ category.pages | length | pluralize }}
				</p>
				{% for subpage in category.pages %}
					<a class="chip {{ config.extra.materialize.colorscheme.font.two }}-text {{ config.extra.materialize.colorscheme.font.one}}" href="{{ subpage.permalink }}">{{ subpage.title }}</a>
				{% endfor %}
			</li>
		{% endfor %}
	</ul>
{% endblock main %}
