{% extends "index.html" %}

{% block title %}
	<title>{{ page.title }} - {{ config.title }}</title>
{% endblock title %}

{% block meta %}
	<meta name="description" content="{{ page.description }}">
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:image" content="{{ config.extra.materialize.logo }}">
	<meta property="og:url" content="{{ page.permalink }}">
	<meta property="og:description" content="{{ page.description }}">
	<meta property="og:site_name" content="{{ config.title }}">

	{% if page.date %}
		<meta property="og:type" content="article">
		<meta property="article:published_time" content="{{ page.date }}">
		<meta property="article:author" content="{{ get_url(path="/") }}">
	{% else %}
		<meta property="og:type" content="website">
	{% endif %}
{% endblock meta %}

{% block main %}
	<article class="Post">
		{{ macros::post_header(page=page) }}
		<div id="breadcrumbs">
			<nav class="{{ config.extra.materialize.colorscheme.background.one }}">
				<div class="nav-wrapper">
					<div class="col s12">
						{% for comp in page.components %}
							{# improve breadcrumb links
								<a href="{{ get_section(path=p ) }}" class="breadcrumb">{{ comp }}</a>
							#}
							<a class="breadcrumb">{{ comp }}</a>
						{% endfor %}
					</div>
				</div>
			</nav>
		</div>

		{{ page.content | safe }}

		{% if page.extra.github %}
			<p>
				<a href="{{ page.extra.github }}"><small><i class="fa fa-github" aria-hidden="true"></i> The code from this article is available on GitHub.</small></a>
			</p>
		{% endif %}

		{% if page.date %}
			{% if config.extra.hyder_discuss %}
				<div id="disqus_thread"></div>
				<script>
				var disqus_config = function () {
					this.page.url = "{{ page.permalink | safe }}";
					this.page.identifier = "{{ page.slug }}";
				};
				(function() {
					var d = document, s = d.createElement('script');
					s.src = 'https://{{ config.extra.hyder_discuss }}.disqus.com/embed.js';
					s.setAttribute('data-timestamp', + new Date());
					(d.head || d.body).appendChild(s);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			{% endif %}
		{% endif %}
	</article>
{% endblock main %}
{% block script %}
{% for script in  page.extra.scripts %}
<script type="text/javascript" src="{{ script }}"></script>
{% endfor %}
{% endblock script %}
