{% extends "index.html" %}
{% block main %}
	<h1>{{ section.title }} </h1>
	<h2>{{ section.description }} </h2>
	<div id="breadcrumbs">
		<nav class="{{ config.extra.materialize.colorscheme.background.one }}">
			<div class="nav-wrapper">
				<div class="col s12">
					{% for comp in section.components %}
						{# improve breadcrumb links
							<a href="{{ get_section(path=p ) }}" class="breadcrumb">{{ comp }}</a>
 						#}
						<a class="breadcrumb">{{ comp }}</a>
					{% endfor %}
				</div>
			</div>
		</nav>
	</div>
	<div class="row">
		<div id="content" class="col s12">
			{{ section.content | safe }}
		</div>
		{% if section.pages and section.subsections %}
			{% set width = 6 %}
		{% else %}
			{% set width = 12 %}
		{% endif %}
		{% if section.pages %}
			<div id="pages" class="col s{{width}}">
				<h3>Pages</h3>
				<ul class="collection">
					{% for content_page in section.pages %}
						<li class="collection-item">
							<a class="title" href="{{ content_page.permalink }}">
								{{ macros::post_header(page=content_page, config=config) }}
								<span class="new badge" data-badge-caption="minute{{ content_page.reading_time + 1 | pluralize }} read">
									{{ content_page.reading_time + 1 }}
								</span>
							</a>
							<p>
								{{ content_page.summary | safe }}
							</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% if section.subsections %}
			<div id="sections" class="col s{{ width}}">
				<h3>Sections</h3>
				<ul class="collection">
					{% for content_section in section.subsections %}
						<li class="collection-item">
							<a class="title" href="{{ content_section.permalink }}">{{ content_section.title }}
								{% if content_section.subsections %}
									<span class="new badge" data-badge-caption="section{{ content_section.subsections | length | pluralize }}">
										{# todo: something is not right with the counting of the subsections #}
										{{ content_section.subsections | length  }}
									</span>
								{% endif %}
								{% if content_section.pages %}
									<span class="new badge" data-badge-caption="article{{ content_section.pages| length | pluralize }}">
										{{ content_section.pages | length }} 
									</span>
								{% endif %}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
{% endblock main %}
{% block script %}
<script>
$(document).ready(function(){
	$('ul.tabs').tabs();
});
</script>
{% endblock script %}

