{% extends "index.html" %}
{% block main %}
	<h1>{{ section.title }} </h1>
	<h2>{{ section.description }} </h2>
	<div id="breadcrumbs">
		<nav class="{{ config.extra.materialize.colorscheme.background.one }}">
			<div class="nav-wrapper">
				<div class="col s12">
					{% for comp in section.components %}
						{# improve breadcrumb links
							<a href="{{ get_section(path=p ) }}" class="breadcrumb">{{ comp }}</a>
 						#}
						<a class="breadcrumb">{{ comp }}</a>
					{% endfor %}
				</div>
			</div>
		</nav>
	</div>
	<div class="row">
		<ul class="tabs">
			{% set content_active = "" %}
			{% set sections_active = "" %}
			{% set pages_active = "" %}
			{# todo find some way to improve this block
				{% if section.summary %}
					{% set content_active = "active" %}
				{% elif section.pages %}
					{% set sections_active = "active" %}
				{% else %}
					{% set sections_active = "active" %}
				{% endif %}
			#}
			{% set content_active = "active" %}
			<li class="tab col s3 {{ content_active }}"><a href="#content">Content</a></li>
			<li class="tab col s3 {{ sections_active }}"><a href="#sections">Sections</a></li>
			<li class="tab col s3 {{ pages_active }}"><a href="#pages">Pages</a></li>
		</ul>
		<div id="pages" class="col s12">
			{% if section.pages %}
				<h3>Pages</h3>
				<ul class="collection">
					{% for content_page in section.pages %}
						<li class="collection-item">
							<a class="title" href="{{ content_page.permalink }}">
								{{ macros::post_header(page=content_page, config=config) }}
								<span class="new badge" data-badge-caption="minute{{ content_page.reading_time + 1 | pluralize }} read">
									{{ content_page.reading_time + 1 }}
								</span>
							</a>
							<p>
								{{ content_page.summary | safe }}
							</p>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
		<div id="sections" class="col s12">
			{% if section.subsections %}
				<h3>Sections</h3>
				<ul class="collection">
					{% for content_section in section.subsections %}
						<li class="collection-item">
							<a class="title" href="{{ content_section.permalink }}">{{ content_section.title }}
								{% if content_section.subsections %}
									<span class="new badge" data-badge-caption="section{{ content_section.subsections | length | pluralize }}">
										{# todo: something is not right with the counting of the subsections #}
										{{ content_section.subsections | length  }}
									</span>
								{% endif %}
								{% if content_section.pages %}
									<span class="new badge" data-badge-caption="article{{ content_section.pages| length | pluralize }}">
										{{ content_section.pages | length }} 
									</span>
								{% endif %}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
		<div id="content" class="col s12">
			{{ section.content | safe }}
		</div>
	</div>
{% endblock main %}
{% block script %}
<script>
$(document).ready(function(){
	$('ul.tabs').tabs();
});
</script>
{% endblock script %}

