{% extends "index.html" %}

{% block title %}
	<title>{{ tag.name }} - {{ config.title }}</title>
{% endblock title %}

{% block meta %}
	<meta name="description" content="{{ config.description }}">
	<meta property="og:title" content="{{ tag.name }} - {{ config.title }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ config.extra.materialize.logo }}">
	<meta property="og:url" content="{{ current_url }}">
	<meta property="og:description" content="{{ config.description }}">
	<meta property="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block main %}
	<h1>Tag: {{ tag.name }}</h1>
	<h2 class="chip {{ config.extra.materialize.colorscheme.font.one }}-text {{ config.extra.materialize.colorscheme.background.two }}">{{ tag.name }}</h2>
	<ul class="collection">
		{% for page in tag.pages %}
			<li class="collection-item">
				{{ macros::post_header(page=page, config=config) }}
				<p>{{ page.summary | safe }}</p>
			</li>
		{% endfor %}
	</ul>
{% endblock main %}
