{% extends "index.html" %}

{% block title %}
	<title>Tags - {{ config.title }}</title>
{% endblock title %}

{% block meta %}
	<meta name="description" content="{{ config.description }}">
	<meta property="og:title" content="Tags - {{ config.title }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ config.extra.materialize.logo }}">
	<meta property="og:url" content="{{ current_url }}">
	<meta property="og:description" content="{{ config.description }}">
	<meta property="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block main %}
	<h1>Tags</h1>
	<h2>&nbsp;</h2>
	<ul class="collection">
		{% for tag in tags %}
			<li class="collection-item">
				Tag: <a class="chip {{ config.extra.materialize.colorscheme.font.one }}-text {{ config.extra.materialize.colorscheme.background.two }}" href="{{ tag.permalink }}">{{ tag.name }}</a>
				<p>
					{{ tag.pages | length }} post{{ tag.pages | length | pluralize }}
				</p>
				{% for subpage in tag.pages %}
					<a class="chip {{ config.extra.materialize.colorscheme.font.two }}-text {{ config.extra.materialize.colorscheme.background.one }}" href="{{ subpage.permalink }}">{{ subpage.title }}</a>
				{% endfor %}
			</li>
		{% endfor %}
	</ul>
{% endblock main %}

